body{
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    
}

.header {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    justify-content: center;
    padding: 0 64px;

    flex-wrap: wrap;
}

.heading{
    display: flex;
    width: 450px;
    justify-content: left;
    font-weight: 900;
    margin-bottom: 64px;
}

.top-links {
    display: flex;
    /*margin-left: auto;*/
    list-style: none;
    gap: 16px;
    width: 450px;
    justify-content: flex-start;
    margin-top: 0;
    margin-bottom: 64px;
}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.hero-img {
    margin-top: 48px;
    max-height: 100%;
    width: auto;
}
.hero, .hero-img {
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 18px;
}

.top {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0;
}

.h-left, .h-right {
    flex-direction: column;
    display: flex;
    max-width: 450px;
    justify-content: flex-start;
    margin: 32px;
    margin-bottom: 64px;
}

button {
    display: flex;
    background-color: #3882f6;
    color:white;
    border-radius: 5px;
    border: 1px;
    width: 90px;
    padding: 6px 15px 5px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: Tahoma, sans-serif;
}

.info {
    display:flex;
    align-items:stretch;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 96px;
    color: #1F2937;
  }

.instance {
    width: 200px;
    text-align: center;
    margin:8px;
  }

.inin {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 3px solid #3882f6;
    margin-bottom: 6px;
    /* crops the image*/
    object-fit: cover;
}

.infotitle {
    display:flex;
    flex-wrap: wrap;
    font-size: 32px;
    font-weight: 900;
    color: #1F2937;
    justify-content: center;
    margin:32px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    color: #1F2937;
    padding: 64px 96px;
}

.quotation {
    font-style: italic;
    font-size: 36px;
    font-weight:100;
}

.author{
    font-weight: 900;
    font-size: 24px;
    margin-left: auto;
    margin-top: 6px;
    
}